.wrapper {
    width: calc(98% - 40px);
    height: auto;
    background-color: var(--tertiary-color);
    border-radius: 6px;
    padding: 15px 20px 5px 20px;
    display: flex;
    flex-direction: column;
}

.userBlock {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 10px;
}

.commentButton {
    display: none;
}

.commentButtonActive {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userBlock img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--quaternary-color);
}

.userInfo {
    display: flex;
    flex-direction: column;
    font-family: "GardensC", sans-serif;
    font-size: 12px;
    color: var(--fifth-color);
    gap: 3px;
}

.timeStamp {
    font-family: "Forum", sans-serif;
    font-size: 10px;
    color: var(--secondary-color);
}

.aboutPostWrapper {
    color: var(--fifth-color);
    font-family: "GardensC", sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.blockPictures {
    align-self: center;
    margin-bottom: 10px;
}

.blockPictures img {
    display: flex;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    max-height: 300px;
}

.likeCommentBlock {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.likeBlock {
    position: relative;
    cursor: pointer;
    display: flex;
}

.like {
    width: 100%;
    height: auto;
    pointer-events: none;
}

.likeFill {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.likeFillActive {
    opacity: 1;
}

.comment {
    cursor: pointer;
}

.animated {
    transition: all 1s;
    height: 0;
    overflow: hidden;
}

.wrapper:hover .animated {
    height: 100%;
}

