.wrapper {
    min-height: 31px;
    width: calc(98% - 10px);
    background-color: var(--tertiary-color);
    border-radius: 6px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    position: relative;
    color: var(--fifth-color);
}

.switchButton {
    cursor: pointer;
    width: 35%;
    padding: 4px 10px 4px 15px;
    border-radius: 6px;
    position: relative;
}

.switchButtonRight {
    cursor: pointer;
    text-align: right;
    width: 35%;
    padding: 4px 15px 4px 10px;
    border-radius: 6px;
    position: relative;
}

.switchButtonRight span {
    font-family: "GardensC", serif;
    font-size: 14px;
}

.switchButton span {
    font-family: "GardensC", serif;
    font-size: 14px;
}

.colorSwitch {
    left: 5px;
    position: absolute;
    background-color: var(--secondary-color);
    width: 40%;
    height: 75%;
    border-radius: 6px;
    transition: all 0.6s;
    transform: translate(0);
}

.colorSwitchRight {
    transform: translate(calc(148% - 5px));
}