.newPostButton {
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.newPostButton::after, .newPostButton::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 15px;
    height: 2px;
    background-color: var(--fifth-color);
    top: 50%;
    right: 18px;
}

.newPostButton::before {
    transform: rotate(90deg);
}