.wrapper {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    transition: all 1s;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapperClose {
    padding-top: 0;
    max-height: 0;
}

.button {
    height: 25px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.input {
    width: 200px;
    padding-left: 10px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border: 1px solid var(--fifth-color);
}

