.modalWrapper {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 3;
    padding-top: 3px;
    margin: 0;
}

.modalInner {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modalHeader {
    background-color: var(--tertiary-color);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: calc(100% - 23px);
    padding: 0 10px;
    justify-content: space-between;
    font-family: "GardensC", sans-serif;
    font-size: 14px;
}

.themeInput {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--tertiary-color);
    height: 40px;
    padding: 0 12px;
    color: var(--fifth-color);
    font-family: "GardensC", sans-serif;
    margin-bottom: 20px;
}

.themeInput::placeholder {
    color: var(--fifth-color);
}

.imageWrapper {
    padding: 0 12px;
}

.choseImage {
    border-width: 0;
    border-style: none;
    border-color: transparent;
    width: 126px;
    height: 162px;
    border-radius: 6px;
    background-color: var(--tertiary-color);
    object-fit: cover;
    object-position: center;
}

.bottomBar {
    width: calc(100% - 30px);
    height: 30px;
    padding: 3px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--tertiary-color);
}

.bottomBar img {
    cursor: pointer;
}

.clipWrapper {
    width: 20px;
    position: relative;
    cursor: pointer;
}

.clipWrapper input {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.modalWrapperNone {
    display: none;
}