@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root {
  --primary-color: #8a8fa3;
  --secondary-color: #adbbc6;
  --tertiary-color: #ececec;
  --quaternary-color: #374254;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100dvw;
  height: 100dvh;
}